
:root {
    --primary-color: #DE8B8B;
    --secondary-color: #707070;
    --third-color:#F6F5F5;
    --backgroung-color:#F8E1E1;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --title-size: 90px;
    --subtitle-size: 34px;
    --heading-font-familiy: font-family: 'Playfair Display', serif;
  }
body{
    margin: 0;
    padding: 0;
    background-color: var(--backgroung-color);
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: var(--title-size);
    margin-top: 20px;
}
h2{
    font-weight: 200;
    
}
.portada{
    background-color: #DE8B8B;
}
#aside-bar{
    width: 45px;
    height: 450px;
    border: solid 1px var(--secondary-color);
    border-radius:35px;
    text-align: center;
    background-color: var(--backgroung-color);

}
#icon-aside{
    color: var(--primary-color);
}
#right-background{
    background-image: url("/img/IMG_3598.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}