
:root {
    --primary-color: #f6aeae;
    --secondary-color: #707070;
    --third-color:#F6F5F5;
    --fourth-color:#F8E1E1;
    --backgroung-color:#F6EEEE;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --title-size: 2.8rem;
    --subtitle-size: 1.2rem;
    --heading-font-familiy: font-family: 'Playfair Display', serif;
}
@media (max-width: 700px) {
    #nab-bar-size{
        display:none;
    }
    #h1-mobil{
        font-size: 2rem;
    }
    #h2-mobil{
        font-size: 0.85rem;
    }
    #p-mobil{
        font-size: 0.7rem;
    }
    #btn-mobil-size{
        font-size: 0.75rem;
    }
    #container-mobil{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .container-mobil{
        width: 100vw;
        align-items: center;
    }
    .content-mobil{
        width: 100vw;
        text-align: center;
    }
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color:var(--backgroung-color);
    color: var(--secondary-color);
   
}
h1, h2, h3, h4, h5, h6, p{
    color: var(--secondary-color);
}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: var(--title-size);
    margin-top: 20px;
}
h2{
    font-weight: 300;
    
}
p{
    font-weight: 300;
    font-size: 0.85rem
}
ul{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
li{
    margin: 25px 0;
    padding: 0;
    text-align: center;
}
a:hover{
    color: var(--third-color);
}

.title{
    text-align: center;
    font-size: var(--title-size);
}
.h2-mobil{
    display: block;
    font-weight: 300;
    margin: 30px;
    padding: 10px;
}
.link{
    color: var(--secondary-color);
    text-decoration: none;
}
.link:hover{
    color: var(--primary-color);
}
.div-portada{
    background-color:var(--primary-color);
    align-items: center;
}
.portada{
    font-size: 0.85rem;
    vertical-align: middle;
}
.btn-branding{
    background: var(--primary-color);
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 10px 25px;
    font-size: 1rem;
}
.menu{
    text-decoration: none;
    color: var(--secondary-color);
}
.me{
    background-image: url("/img/diana.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25%;
    width: 25%;
}
.bg-line{
    background-image: url("/img/linea-tiempo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.left-aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 100vh;
    padding-top: 80px
}

#aside-bar{
    width: 40px;
    border: solid 1px var(--secondary-color);
    border-radius:35px;
    text-align: center;
    background-color: var(--fourth-color);
    height: 70vh;
}
#icon-aside{
    color: var(--primary-color);
}
#right-background{
    background-image: url("/img/diana.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
